:root[data-theme="light"] {
    --backgroung: #fffffffc;
    --backgroung2: hsla(0, 0%, 100%, 0.12);
    --font-color-main: #333333fc;
}

:root[data-theme="dark"] {
    --backgroung: #333333fc;
    --backgroung2: hsla(0, 0%, 100%, 0.12);
    --font-color-main: #eeeeee;
}

.timer {
    position: absolute;
    padding: 20px;
    width: 210px;
    height: 180px;
    top: 0; 
    margin-right: 850px;
    border-radius: 5px;
    background-color: var(--backgroung);
    color: var(--font-color-main);
    transition: 0.3s ease-in-out;
    transform: translateX(+10px);
    visibility: hidden;
    opacity: 0;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    .countdown {
        font-size: 40px;
    }
    .tmerMinutes{
        position: absolute;
        top: 35px;
        right: 20px;
        cursor: pointer;
        font-size: 18px;
        background: transparent;
        outline: none;
        border: none;
        color: var(--font-color-main);
        option {
            color: var(--backgroung);
            // text-align: center;
        }
    }
    .timerIcons {
        margin-top: 20px;
        width: 1.5em;
        height: 1.5em;
        cursor: pointer;
        &.play.active,
        &.pause.active {
            color: green;
        }
        
    }
    &.active {
        visibility: visible;
        transform: translateX(0px);
        z-index: 1;
        opacity: 0.9;
        transition: 0.2s ease-in;
    }
}

@media (max-width:768px) {
    
    .timer {
        position: absolute;
        padding: 20px;
        max-width: 120px;
        height: 120px;
        margin-right: 590px;
        h3 {
            margin-bottom: 5px;
        }
        div {
            font-size: 0.8em;
        }
        
        .countdown {
            font-size: 1.5em;
        }
        .tmerMinutes{
           
            top: 10px;
            right: 10px;
            cursor: pointer;
            font-size: 0.8em;
            
        }
        .timerIcons {
            margin-top: 10px;
            width: 1em;
            height: 1em;
        }
    } 
}

@media (max-width: 420px) {
    
    .timer {
        top: -140px;
        max-width: 120px;
        height: 120px;
        margin-right: 220px;
        h3 {
            margin-bottom: 5px;
        }
        div {
            font-size: 0.8em;
        }
        
        .countdown {
            font-size: 1.5em;
        }
        .tmerMinutes{
           
            top: 10px;
            right: 10px;
            cursor: pointer;
            font-size: 0.8em;
            
        }
        .timerIcons {
            margin-top: 10px;
            width: 1em;
            height: 1em;
        }
    } 
}

