.photosGreed {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
    gap: 20px;
   
    .photoItem {
        border-radius: 2px;
        width: 120px;
        height: 70px;
        // background-image: url('01_small.jpg');
        background-repeat: none;
        background-size: cover;
        background-position: 0;
        cursor: pointer;
        border: 1px solid transparent;
        &:hover {
            border: 1px solid white;
        }
    }

}