:root[data-theme="light"] {
    --backgroung: #fffffffc;
    --font-color-main: #333333fc;
}

:root[data-theme="dark"] {
    --backgroung: #333333fc;
    --font-color-main: #eeeeee;
}
.todoItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    transition: 0.3;
    input:checked ~ label {
        text-decoration: line-through;
        transition: 1s;
    }
    .edittedInput {
        text-transform: capitalize;
        // font-size: 16px;
        height: 20px;
        border: none;
        border-bottom: 1px solid rgb(226, 226, 226);
        outline: none;

    }
    .deleteTodoItem {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border: none;

        .imageBlock {
            margin: 0 auto;
            width: 20px;
            height: 20px;
            background-position: center;
            background-repeat: no-repeat;
            scale: (0);
        }

        .editBlock {
            margin: 0 auto;
            width: 20px;
            height: 20px;
            background-position: center;
            background-repeat: no-repeat;
            scale: (0);
        }
    }

    label {
        padding-left: 5px;
        display: block;
        margin-right: auto;
    }

    &:hover {
        // font-weight: bold;
        text-decoration: dashed;
        
        transition: 0.3s;
        .deleteTodoItem {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            cursor: pointer;
            border: none;
    
            .imageBlock {
                background-image: url('../../../../assets/del-icon.svg');
                background-position: center;
                background-repeat: no-repeat;
                scale: (1);
            }
    
            .editBlock {
                background-image: url('../../../../assets/edit.svg');
                background-position: center;
                background-repeat: no-repeat;
                scale: (1);
                // transition: 0.2s ease-in-out;
            }
        }
    
        .deleteTodoItem:hover {
            background: rgb(225, 225, 225);
            border-radius: 50%;
            transition: 0.3s ease-in;
        }
    }
}
