.clock {
    position: relative;
    cursor: default;
    font-size: 1050%;
    padding: 0px 20px 0 20px;
    opacity: 1;
    transition: 0.5s ease-in;

    &.hidden {
        opacity: 0;
        transition: 0.5s ease-in-out;
    }
}

@media (max-width: 1400px) {

    .clock {
        font-size: 9em;
    }
}
@media (max-width: 768px) {

    .clock {
        font-size: 8em;
    }
}

@media (max-width: 420px) {
    .clock {
        font-size: 6em;
    }
  }