$font-size-1200: 38px;
$font-size-768: 30px;

.greeting {
    margin-bottom: 50px;
    font-size: 54px;
    opacity: 1;
    transition: 0.5s ease-in;

    &.hidden {
        opacity: 0;
        transition: 0.5s ease-in-out;
    }

    input {
        // resize: horizontal;
        width: 200px;
        font-size: 54px;
        background: transparent;
        outline: none;
        border: none;
        color: #fff;

        // &:active {
        //     width: auto;
        // }

        &:focus {
            color: rgb(179, 179, 179);
        }
    }

}

@media (max-width: 1400px) {
    .greeting {
        margin-bottom: 10px;
        font-size: $font-size-1200;

        input {
            width: 80px;
            font-size: $font-size-1200;
        }
    }
}
@media (max-width: 1024px) {
    .greeting {
        margin-bottom: 10px;
        font-size: $font-size-1200;

        input {
            width: 80px;
            font-size: $font-size-1200;
        }
    }
}


@media (max-width: 768px) {

    .greeting {
        font-size: $font-size-768;

        input {
            font-size: $font-size-768;
        }
    }
}
