.greeting {
    font-size: 54px;

    input {
        resize: horizontal;
        // min-width: 300px;
        font-size: 54px;
        background: transparent;
        outline: none;
        border: none;
        color: #fff;

        &:active {
            width: auto;
        }

        &:focus {
            color: rgb(179, 179, 179);
        }
    }
}