.player {
    display: flex;
    justify-content: center;

    .playPrev {
        background: url('./../../../assets/play-prev.svg');
    }

    .playNext {
        background: url('./../../../assets/play-next.svg');
    }

    .play {
        background: url('./../../../assets/play.svg');
        width: 38px;
        height: 38px;
    }

    .playPrev,
    .playNext,
    .play {
        display: block;
        width: 38px;
        height: 38px;
        margin-right: 10px;
        background-size: 32px 32px;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: 0;
        outline: 0;
        opacity: .8;
        cursor: pointer;
        transition: .3s;
    }

    .play {
        background-size: 38px 38px;
    }

    .playPrev:hover,
    .playNext:hover,
    .play:hover {
        opacity: 1;
    }
}