:root[data-theme="light"] {
    --backgroung: #fffffffc;
    --font-color-main: #333333fc;
}

:root[data-theme="dark"] {
    --backgroung: #333333fc;
    --font-color-main: #eeeeee;
}
.weatherWrapper {
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    &.active {
        z-index: 12;
        opacity: 1;
        pointer-events: all;
    }
    .weather {
        position: absolute;
        z-index: -2;
        right: 10px;
        top: 70px;
        width: 440px;
        height: 220px;
        background: var(--backgroung);
        border-radius: 4px;
        opacity: 0;
        transition: 0.15s ease-in-out;
        transform: translateY(-20px);
        box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
    
        .weatherSection {
            padding: 21px 21px 18px;
            color: var(--font-color-main);
    
            .header {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .editIcon {
                    position: absolute;
                    font-size: 20px;
                    top: 15px;
                    left: 130px;
                    cursor: pointer;
                    transform: translateX(-10px);
                    transition: 0.2s ease-in;
                    visibility: hidden;
                }
                &:hover {
                    cursor: pointer;
                    .editIcon {
                        position: absolute;
                        font-size: 20px;
                        top: 15px;
                        left: 130px;
                        cursor: pointer;
                        transform: translateX(0px);
                        transition: 0.2s ease-in-out;
                        visibility: visible;
                    }
                    .editIcon:hover {
                        fill: rgb(168, 168, 168);
                    }
                   
                }
                
    
                .loacationWrapper {
                    
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    .inputLocation {
                        height: 42px;
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid var(--font-color-main);
                        outline: none;
                        color: var(--font-color-main);
                        font-size: 20px;
                    }
                       
                    
    
                    .location {
                        margin: 0;
                        color: var(--font-color-main)
                    }
                    
    
                    .weatherDescription {
                        // font-style: italic;
                        text-transform: capitalize;
                        margin: 0 0 10px;
                        display: block;
                        line-height: 1.25;
                        opacity: 0.6;
                    }
    
                }
    
                .more {
                    align-self: flex-start;
                    // padding-top: 10px;
                    font-size: 28px;
                    
                    &:hover {
                        background-color: #646f6c;
                        // border-radius: 50%;
                    }
                }
            }
    
            .descriptionContainer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .temperature {
                    display: block;
                    font-size: 54px;
                    color: #646f6c;
                }
                .weatherIcon {
                    margin-right: auto;
                    font-size: 48px;
                }
    
                .additionalDescr {
                    font-size: 16px;
                    // font-style: italic;
                    text-align: left;
                }
            }  
        }
    }
    
    .weather::before {
        position: absolute;
        content: '';
        right: 25px;
        top: -6px;
        width: 12px;
        height: 12px;
        transform: rotate(45deg);
        background-color: var(--backgroung);
    }
    
    .weather::after {
        position: absolute;
        content: '';
        right: 5%;
        bottom: 45px;
        width: 90%;
        height: 1px;
        border-bottom: 1px solid #d4d4d4;
        
    }
    
    .weather.active {
        z-index: 10;
        opacity: 1;
        transform: translateY(0px);
        transition: 0.18s ease-in;
    }
   }
   
   