.header {
    position: relative;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.weatherIcon {
    font-size: 44px;
    cursor: pointer;
}
.weatherIcon:hover {
    
    // text-decoration: underline;
    cursor: pointer;
}