.footer {
    margin-bottom: 10px;
    padding: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .qoute {
        max-width: 70%;
        // height: 50px;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.5s;
        opacity: 1;
        transition: 0.5s ease-in;
        &.hidden {
            opacity: 0;
            transition: 0.5s ease-in;
            visibility: hidden;
        }
        .quoteButton {
            font-size: 26px;
            width: 100px;
            cursor: pointer;
            transition: 0.3s;
            color: rgba(255, 255, 255, 0.6);
            &:hover{
                color: rgb(255, 255, 255);
                transition: 0.3s;
            }
        }
    }
    .settingsButton {
        width: 35px;
        height: 35px;
        background-image: url('../../assets/settings_FILL.svg');
        color: aliceblue;
        background-size: 100%;
        cursor: pointer;
        background-repeat: no-repeat;
        fill: aliceblue;
        transition: 0.2s ease;
    }
    .settingsButton:hover {
        transform: rotateZ(90deg);
        transition: 0.2s ease;
    }
    .todo {
        font-size: 20px;
        position: relative;
        cursor: pointer;
        transition: 0.2s;
    }
    .todo:hover {
        color: rgb(214, 214, 214);
        transition: 0.2s;
    }
    
}