.footer {
    padding: 20px;
    // background-color: rgb(121, 72, 111);
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .todo {
        position: relative;
        cursor: pointer;
    }
    .todo:hover {
        text-decoration: underline;
    }
}