.footer {
    padding: 20px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .settingsButton {
        width: 35px;
        height: 35px;
        background-image: url('../../assets/settings.png');
        background-size: 100%;
        cursor: pointer;
        background-repeat: no-repeat;
        fill: aliceblue;
        transition: 0.2s ease;
    }
    .settingsButton:hover {
        transform: rotateZ(90deg);
        transition: 0.2s ease;
    }
    .todo {
        position: relative;
        cursor: pointer;
    }
    .todo:hover {
        text-decoration: underline;
    }
}