.timeWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .hourglass,
    .more {
        visibility: hidden;
        height: 1.3em;
        width: 1.3em;
        cursor: pointer;
        fill: rgba(255, 255, 255, 0.672);
        transform: rotate(0deg);
        transition: 0.2s ease-in-out;

        &.active {
            visibility: visible;
            transform: rotate(180deg);
            // transition: 0.2s ease-in-out;
            fill: #fff;
        }
    }

    .time {
        position: relative;
        cursor: default;
        font-size: 1050%;
        padding: 0px 20px 0 20px;
    }

    &:hover {

        // transition: 0.3s;
        .hourglass,
        .more {
            visibility: visible;
            display: block;
        }
    }

    .timeformat {
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: italic;
        margin-left: 750px;
        position: absolute;
        height: 40px;
        width: 200px;
        background: #333333fc;
        border-radius: 4px;
        visibility: visible;
        opacity: 1;
        transition: 0.2s ease-in;
        transform: translateX(0);
        &.hidden {
            visibility: hidden;
            opacity: 0;
            transition: 0.3s ease-in-out;
            transform: translateX(-10px);
        }

        &::after {
            position: absolute;
            content: '';
            width: 12px;
            height: 12px;
            background: #333333fc;
            transform: rotate(45deg);
            left: -6px;
        }

        .settingsItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 40px;
            padding: 2.5px;
            border-top: 1px solid var(--backgroung2);
            cursor: pointer;
            & span {
                text-transform: capitalize;
            }
        }
        
        .toggleSwitch {
            margin-left: 10px;
            position: relative;
            width: 38px;
            height: 20px;
            appearance: none;
            background: #ffa200;
            outline: none;
            border-radius: 260px;
            transition: .2s;
            cursor: pointer;
        }
        
        .toggleSwitch:checked[type="checkbox"] {
            transition: .2s ease-in-out;
            background: linear-gradient(90deg, #0099c0,#3dd5a8);
        }
        
        .toggleSwitch:before {
            content: "";
            position: absolute;
            width: 14px;
            height: 14px;
            border-radius: 190px;
            top: 15%;
            left: 10%;
            background: #ffffff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
            transition: .2s;
        }
        
        .toggleSwitch:checked[type=checkbox]:before {
            transition: .2s;
            left: 20px;
            background-color: #ffffff;
        }
    }
}