.todo {
    position: absolute;
    padding: 10px;
    right: 10px;
    bottom: 80px;
    height: auto;
    width: 300px;
    border-radius: 4px;
    background-color: aliceblue;
    color: rgb(69, 69, 69);
    // transform: translateY(+30px);
    opacity: 0;
    transition: 0.2s ease;
}

.todo::after {
    position: absolute;
    content: '';
    right: 20px;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    background-color: aliceblue;
}

.todo.active {
    // transform: translateY(0px);
    opacity: 1;
    transition: 0.2s ease;
}

.todoItem {
   text-align: left;
}